<div class="flex flex-col items-center">
  <p class="pb-4 font-semibold text-[16px]">Inicia sesión para continuar</p>
  <form action="" class="w-full" [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <div class="bg-white border-2 rounded-md shadow-md mb-2 w-full">
      <input class="px-2 py-2 rounded-sm text-sm w-full" formControlName="email" type="email"
        placeholder="Introduce tu correo electrónico">
    </div>
    @if (loginForm.controls.email.touched && loginForm.controls.email.invalid) {
      @if (loginForm.controls.email.hasError('required')) {
        <p class="text-red-500 text-sm">Campo requerido</p>
      }
      @if (loginForm.controls.email.hasError('pattern')) {
        <p class="text-red-500 text-sm">Correo electrónico inválido</p>
      }
    }
    <div class="bg-white border-2 rounded-md shadow-md mb-2 w-full">
      <input class="px-2 py-2 rounded-sm text-sm w-full" type="password" formControlName="password"
        placeholder="Introduce tu contraseña">
    </div>
    @if (loginForm.controls.password.touched && loginForm.controls.password.invalid) {
      @if (loginForm.controls.password.hasError('required')) {
        <p class="text-red-500 text-sm">Campo requerido</p>
      }
      @if (loginForm.controls.password.hasError('minlength')) {
        <p class="text-red-500 text-sm">La contraseña debe tener al menos 6 caracteres</p>
      }
    }
    @if (status === 'failed') {
      <p class="text-red-500 text-sm">Invalid Credentials</p>
    }
    <button
      class="border-2 w-full rounded-md text-sm p-2 bg-blue-700 text-white hover:bg-blue-600 transition-colors mb-4">
      Continuar
    </button>
  </form>
  <div class="w-full">
    <p class="text-center text-gray-500 pb-3 text-sm">O continúa con:</p>
    @for (login of logins; track login) {
    <div
      class="flex items-center justify-center gap-4 border border-gray-400 w-full p-2 rounded-md mb-4 cursor-pointer transition-colors hover:bg-slate-200">
      <span>
        <img class="w-7" [src]="login.src" alt="Google">
      </span>
      <button class="font-semibold">{{login.title}}</button>
    </div>
    }
    <footer class="w-full">
      <div class="flex items-center justify-center gap-20 border-b-2 border-gray-300 w-auto pb-4">
        <a routerLink="/auth/reset-password" class="text-sm font-light text-blue-700 cursor-pointer hover:underline">¿No
          puedes iniciar <br>
          sesión?</a>
        <a routerLink="/auth/sign-up" class="text-sm font-light text-blue-700 cursor-pointer hover:underline">Crear una
          <br>cuenta</a>
      </div>
      <div class="w-full flex flex-col items-center justify-center my-4">
        <img class="w-44"
          src="/assets/Logos/Atlassian/Atlassian Logo Horizontal/SVG/horizontal-logo-gradient-neutral-atlassian.svg"
          alt="">
        <p class="text-sm text-gray-400">Este sitio web es solo para fines educativos y no es el sitio web
          oficial de Trello</p>
      </div>
    </footer>
  </div>
</div>
