<nav class=" border-gray-200 px-6 fixed w-full shadow-md">
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex items-center">
      <a routerLink="/">
        <img loading="lazy" class="w-16 mr-8" src="/assets/Icons/trello-icon.svg" alt="logo" />
      </a>
      <div class="flex items-center p-2">
        <ul class="flex items-center space-x-2 text-sm font-medium">
          <li>
            <a (click)="isWorkSpaceOpen = !isWorkSpaceOpen" cdkOverlayOrigin #workSpaceOverlay="cdkOverlayOrigin"
              class="block py-3 px-4 cursor-pointer rounded-sm hover:bg-gray-200 transition-colors">Espacios
              de trabajo</a>
          </li>
          <li>
            <a (click)="isRecentOpen = !isRecentOpen" cdkOverlayOrigin #recentOverlay="cdkOverlayOrigin"
              class="block py-3 px-4 cursor-pointer rounded-sm hover:bg-gray-200 transition-colors">Reciente</a>
          </li>
          <li>
            <a (click)="isMarketOpen = !isMarketOpen" cdkOverlayOrigin #marketOverlay="cdkOverlayOrigin"
              class="block py-3 px-4 cursor-pointer rounded-sm hover:bg-gray-200 transition-colors">Marcado</a>
          </li>
          <li>
            <a (click)="isTemplatesOpen = !isTemplatesOpen" cdkOverlayOrigin #templatesOverlay="cdkOverlayOrigin"
              class="block py-3 px-4 cursor-pointer rounded-sm hover:bg-gray-200 transition-colors">Plantillas</a>
          </li>
          <li>
            <a class="border px-3 py-2 rounded-md bg-blue-700 text-gray-50 cursor-pointer">Crear</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center">
      <button type="button" class="flex rounded-full" aria-expanded="false" type="button" (click)="isOpen = !isOpen"
        cdkOverlayOrigin #menuOverlay="cdkOverlayOrigin">
        <img class="w-8 h-8 rounded-full" src="/assets/Icons/PhUser.svg" alt="user photo" />
      </button>
    </div>
  </div>
</nav>

<!--WorkSpace menu-->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="workSpaceOverlay"
  [cdkConnectedOverlayOpen]="isWorkSpaceOpen" (overlayOutsideClick)="isWorkSpaceOpen = !isWorkSpaceOpen">
  <div class="flex px-4 py-3 flex-col z-50 my-4 text-base list-none bg-white divide-y-2 shadow-lg rounded-md">
    <div>
      <h1 class="text-gray-800 text-[11px]">Tus espacios de trabajo</h1>
      <div class="flex hover:bg-gray-100 cursor-pointer transition-colors rounded-md">
        <div class="p-2 gap-2 flex items-center">
          <span
            class="border px-3 py-2 rounded-md bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-violet-400 via-purple-300 to-purple-200">E</span>
          <h1 class="font-semibold text-sm">Espacio de trabajo de Trello</h1>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!--Recent menu-->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="recentOverlay" [cdkConnectedOverlayOpen]="isRecentOpen"
  (overlayOutsideClick)="isRecentOpen = !isRecentOpen">
  <div class="flex px-4 py-3 flex-col z-50 my-4 text-base list-none bg-white divide-y-2 shadow-lg rounded-md">
    <div class="flex flex-col">
      @for (workspace of workSpaces; track workspace) {
      <div class="flex gap-2 hover:bg-gray-100 transition-colors cursor-pointer pr-24 rounded-md">
        <div class="flex items-center gap-2 p-2 rounded-md">
          <span class="border px-4 py-4">
            <img [src]="workspace.img" alt="">
          </span>
          <div>
            <h1 class="font-semibold text-[15px]">{{workspace.title}}</h1>
            <p class="font-light text-sm">{{workspace.subtitle}}</p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</ng-template>

<!--Market menu-->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="marketOverlay" [cdkConnectedOverlayOpen]="isMarketOpen"
  (overlayOutsideClick)="isMarketOpen = !isMarketOpen">
  <h1>MarketOverlay</h1>
</ng-template>

<!--Profile menu-->
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="menuOverlay" [cdkConnectedOverlayOpen]="isOpen"
  (overlayOutsideClick)="isOpen = !isOpen">
  <div class="flex flex-col z-50 my-4 text-base list-none bg-white rounded divide-y-2  shadow">
    <div class="py-3 px-4 flex flex-col gap-2">
      <div class="font-bold text-[10px] text-gray-500">
        <h1>CUENTA</h1>
      </div>
      <div class="flex gap-2">
        <img class="w-8 h-8 rounded-full text-gray-500" [src]="user?.avatar" alt="user photo" />
        <div class="flex flex-col">
          <p class="block text-sm text-gray-900 ">{{user?.name}}</p>
          <p class="block text-sm font-medium text-gray-500 truncate ">{{user?.email}}</p>
        </div>
      </div>
    </div>
    <div>
      <ul class="py-1" aria-labelledby="user-menu-button">
        <li>
          <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 transition-colors">
            Cambiar cuenta
          </a>
        </li>
        <div class="flex">
          <li>
            <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 transition-colors">
              Gestionar cuenta
            </a>
          </li>
          <img class="w-4 mx-4" src="/assets/Icons/arrow-up-right-from-square.svg" alt="">
        </div>
      </ul>
    </div>
    <div class="py-3 px-4 flex flex-col gap-2 text-gray-700">
      <div>
        <h1 class="font-bold text-[10px]">TRELLO</h1>
      </div>
      <ul>
        <li class="block text-sm hover:bg-gray-100 transition-colors">
          <a href="#">Perfil y visibilidad</a>
        </li>
      </ul>
      <ul>
        <li class="block text-sm hover:bg-gray-100 transition-colors">
          <a href="#">Actividad</a>
        </li>
      </ul>
      <ul>
        <li class="block text-sm hover:bg-gray-100 transition-colors">
          <a href="#">Tarjetas</a>
        </li>
      </ul>
      <ul>
        <li class="block text-sm hover:bg-gray-100 transition-colors">
          <a href="#">Ajustes</a>
        </li>
      </ul>
      <ul>
        <li class="block text-sm hover:bg-gray-100 transition-colors">
          <a href="#">Tema</a>
        </li>
      </ul>
    </div>
    <div class="py-3 px-4 flex flex-col gap-2 text-gray-700">
      <ul>
        <li>
          <a class="block text-sm hover:bg-gray-100 transition-colors" href="">Ayuda</a>
        </li>
      </ul>
      <ul>
        <li>
          <a class="block text-sm hover:bg-gray-100 transition-colors" href="">Accesos Directos</a>
        </li>
      </ul>
    </div>
    <div class="flex px-4 py-3 text-sm text-gray-700">
      <button (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
</ng-template>
