<div class="flex flex-col">
    <p class="pb-4 text-center font-semibold text-[16px]">¿No puedes iniciar sesión?</p>
    <p class="text-[12px] text-gray-400 font-semibold">Enviaremos un enlace de recuperación a </p>
    <div class="bg-white border-2 rounded-md shadow-md mb-2 w-full">
        <input class="px-2 py-2 rounded-sm text-sm w-full" type="email" placeholder="Introduce tu correo electrónico">
    </div>
    <button
        class="border-2 w-full rounded-md text-sm p-2 bg-blue-700 text-white hover:bg-blue-600 transition-colors mb-4">
        Enviar enlace de recuperación
    </button>
    <a routerLink="auth/login" class="text-[12px] text-center font-light text-blue-700 cursor-pointer hover:underline">
        Volver a Inicio de sesión
    </a>
    <div class="w-full h-full flex pt-6">
        <footer class="w-full h-full flex">
            <div class="w-full flex flex-col items-center justify-center my-4 border-t-2">
                <img class="w-44 pt-2"
                    src="/assets/Logos/Atlassian/Atlassian Logo Horizontal/SVG/horizontal-logo-gradient-neutral-atlassian.svg"
                    alt="">
                <p class="text-sm text-gray-400">Este sitio web es solo para fines educativos y no es el sitio web
                    oficial de Trello</p>
            </div>
        </footer>
    </div>
</div>
