<div class="flex flex-col w-full h-screen">
    <app-navbar></app-navbar>
    <div class="w-screen grow overflow-x-hidden bg-sky-600 px-4 pb-4 pt-[90px] h-full">
        <div class="flex flex-col h-full">
            <div>
                <h2 class="text-xl font-bold text-white my-4">Demo Board</h2>
            </div>
            <div class="flex grow items-start w-full h-full min-w-full overflow-x-scroll" cdkDropListGroup>
                @for (column of columns; track column) {
                <div class="rounded bg-gray-200 w-72 p-2 mr-3 shrink-0">
                    <div class="flex justify-between py-1">
                        <h3 class="text-sm font-bold ml-2">{{column.title}}</h3>
                    </div>

                    <div class="text-sm mt-2" cdkDropList (cdkDropListDropped)="drop($event)"
                        [cdkDropListData]="column.todos">
                        @for (todo of column.todos; track todo) {
                        <div cdkDrag
                            class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-400">
                            {{todo.title}}
                        </div>
                        }
                    </div>
                </div>
                }
                <button class="shrink-0" (click)="addColumn()">Add Column</button>
            </div>
        </div>
    </div>
</div>