<div class="w-screen h-screen bg-gray-100 relative overflow-x-hidden">
    <section class="absolute w-full h-full">
        <img class="hidden absolute min-w-56 max-w-80 left-0 bottom-0 md:block" src="/assets/Icons/login-bg-left.svg"
            alt="">
        <img class="hidden absolute min-w-56 max-w-80 right-0 bottom-0 md:block" src="/assets/Icons/login-bg-rigth.svg"
            alt="">
    </section>
    <section class="relative max-w-72 mt-10 flex flex-col m-auto md:border-2 md:shadow-lg md:py-[32px] md:px-10 md:max-w-[410px]  md:w-full box-border overflow-y-hidden">
        <div class="flex flex-col items-center justify-center">
            <header class="pb-2 flex justify-center">
                <img class="w-44"
                    src="/assets/Logos/Trello/Attribution/RGB/SVG/trello-logo-gradient-blue-attribution_rgb.svg"
                    alt="Logo">
            </header>
            <router-outlet />
        </div>
    </section>
</div>